---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h4 class="font-medium">Laksamana Adhito</h4>
  <p class="text-neutral-500 text-sm">Dito (dit·to, /'didō/)</p>
  <p>
    Welcome! I'm writing what I've learned in my Blog. If you want to check it out, please navigate through the upper
    right of the website.
  </p>
  <sub
    >This page should've been the introduction of myself, exposing my portfolio since I want this website to brand my
    software engineering services. If you are interested, please stay tuned!</sub
  >
</BaseLayout>
