---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout class="flex items-center justify-center flex-col">
  <h1 class="font-medium pt-8 mb-0!">Laksamana Adhito</h1>
  <sub class="block pb-4 pt-2 text-neutral-500">Dito (dit·to, /'didō/)</sub>
  <p class="text-base">
    I'm still working on my portfolio. Meanwhile, please check my blog through the upper right of the website.
  </p>
</BaseLayout>
