---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout class="flex items-center justify-center flex-col">
  <h4 class="font-medium pt-8">Laksamana Adhito</h4>
  <p class="text-neutral-500 text-sm">Dito (dit·to, /'didō/)</p>
  <p class="text-sm">
    I'm still working on my portfolio. Meanwhile, please check my blog through the upper right of the website.
  </p>
</BaseLayout>
