---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header class="px-2 bg-white shadow-lg">
  <nav class="flex items-center justify-between">
    <h2 class="font-bold">
      <a href="/" class="py-4 px-2 text-black no-underline">{SITE_TITLE}</a>
    </h2>
    <div>
      <HeaderLink class="text-base p-4" href="/">Home</HeaderLink>
      <HeaderLink class="text-base p-4" href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
