---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="navbar shadow pb-0 min-h-0">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">lzadhito</a>
    </div>
    <ul class="menu menu-horizontal py-0">
      <li><HeaderLink class="text-base py-3 p-4" href="/">Home</HeaderLink></li>
      <li><HeaderLink class="text-base py-3 p-4" href="/blog">Blog</HeaderLink></li>
    </ul>
  </nav>
</header>
